spring:
  application:
    name: LMS

  datasource:
    url: jdbc:postgresql://localhost:5432/LMS_System
    username: postgres
    password: 1234

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: update

  mail:
    host: smtp.gmail.com
    port: 587
    username: yasuo5428@gmail.com
    password: zbqs vioh guiz anba
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
